{% extends 'baselogin.html' %}

{% block title %}Change Password {% endblock title %}

{% block form %}

<div class="student-login">

<h1>
    Change Password
</h1>

<div class="row">

<div class="col-md-4"></div>

    <div class="col-md-4">

        <form action="" method="post">
        
        {% include "message.html" %}
        
        <div class="form-group">
            <input type="password" class="form-control mt-2" placeholder="Enter Old Password" name="old_password" required style="text-align: center;">
            <span class="login-icon2">
                <ion-icon name="lock-open-outline"></ion-icon>
            </span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control mt-2" placeholder="Enter New Password" name="new_password" required style="text-align: center;">
            <span class="login-icon2">
                <ion-icon name="lock-open-outline"></ion-icon>
            </span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control mt-2" placeholder="Confirm New Password" name="confirm_password" required style="text-align: center;">
            <span class="login-icon2">
                <ion-icon name="lock-open-outline"></ion-icon>
            </span>
        </div>

        <br>
        <button type="submit" class="btn" style="background-color: #9e4a35; color: white;">Change Password</button>

        </form>

        <br>
    </div>

<div class="col-md-4"></div>

</div>

</div>

{% endblock form %}